@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f6f1;
    --foreground: #2f2427;

    --primary: #2f2427;
    --primary-foreground: #f3eee2;

    /* green */
    --secondary: #1a412e;
    --secondary-foreground: #f3eee2;

    --muted: rgba(28, 28, 28, 0.3);
    --muted-foreground: rgba(28, 28, 28, 0.6);

    --accent: #d6cd72;
    --accent-foreground: #2f2427;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --destructive: #fed7d7;
    --destructive-foreground: #c53030;

    --success: #1b5e20;
    --success-foreground: #f3eee2;

    --border: 214.3 31.8% 91.4%;
    --input: #2f2427;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .h-stack {
    @apply flex flex-row gap-2;
  }

  .v-stack {
    @apply flex flex-col gap-2;
  }

  .v-stack-reverse {
    @apply flex flex-col-reverse gap-2;
  }
}

.onboarding-page {
  height: calc(100vh - theme("spacing.40"));
}
