@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3eee2;
    --foreground: #1c1c1c;

    --primary: #2f2427;
    --primary-foreground: #f3eee2;

    /* green */
    --secondary: #1a412e;
    --secondary-foreground: #f3eee2;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: #d6cd72;
    --accent-foreground: #2f2427;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: #1b5e20;
    --success-foreground: #f3eee2;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .h-stack {
    @apply flex flex-row gap-2 w-full h-full;
  }

  .v-stack {
    @apply flex flex-col gap-2 w-full h-full;
  }

  .v-stack-reverse {
    @apply flex flex-col-reverse gap-2;
  }
}
